 
<body class="login admin-otp">
  <div class="wrapper1">

        <div class="login otp">
          <!---->
          <div class="loginInner1 authentication">
            <div class="log-logo m-b-20 text-center">
              <img
                src="{{url}}"
                class="logo-login"
              />
            </div>
            <div class="featured-box-login featured-box-secundary default">
              <h3 class="text-center">Security Code Verification Using Telegram App</h3>
              <div class="my-3 text-center">
                Enter 6-digit code from your telegram bot
                <span><a href="javascript:void(0)" (click)="resendLoginOtp()">Resend Code</a></span>
              </div>
              <input  *ngIf="showOtpComponent"  type="number" class="formControl" (input)="onOtpChange($event.target)">
              <!-- <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)"
               *ngIf="showOtpComponent" [config]="config"></ng-otp-input> -->
              
            </div>
          </div>
        </div>
  </div>
</body>
