<div class="col-md-12 main-container">
    <div class="col-md-12 main-container">
        <div class="listing-grid">
            <div class="detail-row">
                <h2>Change Password</h2>
                <div class="m-t-20">
                    <div class="col-md-12">
                        <form [formGroup]="updateForm" action="" method="post">
                            <div class="row" *ngIf="useradmininfo.user_type_id =='1'">
                                <div class="col-md-3 col-sm-8">
                                    <div class="form-group">
                                        <label for="password" class="text-black">Old Password</label>
                                        <input type="password" formControlName="old_password" name="old_password" class="form-control" required>
                                        <span class="FontTextBlack10px" *ngIf="updateForm.get('old_password').hasError('required') && updateForm.controls.old_password.touched ">
                    Password is required !
                  </span>
                            
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-8">
                                    <div class="form-group">
                                        <label for="password" class="text-black">New Password</label>
                                        <input type="password" formControlName="new_password" name="password" class="form-control" required>
                                        <span class="FontTextBlack10px" *ngIf="updateForm.get('new_password').hasError('required') && updateForm.controls.new_password.touched ">
                    Password is required !
                  </span>
                                        <span class="FontTextBlack10px" *ngIf="!updateForm.get('new_password').hasError('required') && updateForm.controls.new_password.touched && updateForm.controls.new_password.errors">
                    Password Minimum eight characters, at least one letter and one number!
                  </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-8">
                                    <div class="form-group">

                                        <label for="confirm_password" class="text-black">Confirm Password</label>

                                        <input type="password" formControlName="confirm_password" name="password_confirmation" class="form-control" required>
                                        <p class="FontTextBlack10px" *ngIf="updateForm.get(['new_password']).value != updateForm.get(['confirm_password']).value && updateForm.get('confirm_password').touched">password does not match</p>
                                        <span class="error"></span> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-8">
                                    <div class="form-group">
                                        <label for="master_password" class="text-black">Transaction Password</label>
                                        <input type="password" formControlName="master_password" name="master_password" class="form-control" required>
                                        <span class="FontTextBlack10px" *ngIf="updateForm.get('master_password').hasError('required') && updateForm.controls.master_password.touched ">
                   Transaction Password is required !
                  </span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-8">
                                    <label>&nbsp;</label>
                                    <br>
                                    <input type="hidden" name="_token" value="t5k0O6g16P11QCLBcFfbFlvtrx91KngxGFaHhFwx">
                                    <button type="submit" class="btn btn-diamond" (click)="updatePassword()" [disabled]="updateForm.invalid">Load</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="table-responsive data-table"> </div>
        </div>
    </div>
</div>