

<div *ngIf="url" class="supenova">
    <iframe [src]="url" frameborder="0" id="supernova"  width="100%" height="100%" allowfullscreen scrolling="auto"></iframe>
    </div>

  
  
  
 
    <div id="casinoGameModal" class="modal" style="height: 100vh;">
  
      <div id="marketbetspopup" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true" style="display: block;">
        <div class="modal-dialog  encasino">
          <div class="modal-content">
            <div class="modal-body engcasinomodalbgimg">
              <div class="casinoinfo text-white text-center">Live Casino Info 
                <button type="button" class="close text-white ecasinobtnclose" data-dismiss="modal" aria-hidden="true">
                  ×</button></div><div class="f-18 text-white text-center">
                    WELCOME TO NEW CASINO LOBBY</div>
                    <div class="f-18 text-white text-center">
                      Please note (1 Point = 100 Points)</div>
                      <div class="hirizontal-line"></div>
                      <div class="f-18 text-white text-center"
                      >नई कैसीनो लॉबी में आपका स्वागत है</div>
                      <div class="f-18 text-white text-center">
                        कृपया ध्यान दें (1 अंक = 100 अंक)</div>
                        <div class="text-center ecasinobtn">
                          <button type="button" class="btn place-bet-btn waves-effect mx-auto ecasinoclose" data-dismiss="modal">
                            Okay I Agree</button>
                          </div>
                        </div>
                      </div>
                    </div>
      <div >
      
      </div>
      </div>
      </div>