.login {
    background-image: linear-gradient(#04A1A6, #04A1A6)!important;
}

.btn-submit {
    background-color: #04A1A6 !important;
    border-color: #04A1A6 !important;
    color: #000 !important;
}
.main-content .nav-tabs li.nav-item a {
    color: #000 !important;
}

.featured-box-login h4 {
    color: #04A1A6;
}

.modal-header, .popup21white .modal-header {
    background: #04A1A6;
}
.header.header {
    background-color: #04A1A6;
}
.header-bottom {
    background-color: #04A1A6;
}
.main-content .nav-tabs {
    background-color: #04A1A6;
}
.main-content .nav-tabs .nav-link {
    border-top: 3px solid #04A1A6;
}
.header-left a {
    color: #000 !important;
}
.header-left a:hover {
    color: #000 !important;
}
.main-content .nav-tabs .nav-item:after {
    background: #ffffff;
    top: 12px;
    width: 1px;
    content:none;
}
.andar-bahar2 .first-bet > div:first-child, .andar-bahar2 .second-bet > div:first-child {
    border: 3px solid #04A1A6 !important;
    background-color: #04A1A6 !important;
}
.andar-bahar2 .sa > div:first-child {
    border: 3px solid #04A1A6 !important;
}
.baccarat .statistics-title {
    background-color: #04A1A6 !important;
}
.baccarat-container .bet-odds {
    background-color: #04A1A6 !important;
}
.fa.fa-info-circle{
    color: #04A1A6 !important;
}
.place-bet .stakeactionplus, .place-bet .stakeactionminus {
    background: #04A1A6 !important;
}
.place-bet .btn-secondary {
    background-color: #04A1A6 !important;
    border-color: #04A1A6 !important;
    color: #000;
}
.main-content .sports .nav-tabs {
    background-color: #04A1A6;
}
.sports .nav-tabs {
    background-color: #04A1A6;
}
.bs {
    box-shadow: 0px -5px 5px -5px rgb(0 0 0 / 50%);
    position: relative;
}
.btn-primary {
    color: #000;
    background-color: #04A1A6 !important;
    border-color: #04A1A6 !important;
}
.sports .nav-tabs .nav-link.active, .sports .nav-tabs .nav-link:hover {
    background-color: #04A1A6;
    /* border-bottom: solid 3px #fff !important; */
    color: #000 !important;
}
.livecasinos ,.livecasinos1{
    background-color: #04A1A6 !important;
    }
 
.casinoicons .casino-name {
    background-image: linear-gradient(#04A1A6, #04A1A6); color: #000; font-size: 11px;
}
.sidebar-title {
    background: #04A1A6;
}
.casinoicons-title {
    background-image: linear-gradient(#04A1A6, #04A1A6);
}
.btn-theme {
    background-image: linear-gradient(to right, #04A1A6, #04A1A6) !important;
}
.card-header {
    background-color: #04A1A6;
}
.game-heading {
    background-color: #04A1A6;
}
.lastResultPart h3 {
    background-color:#04A1A6;
}
ul.other-table-box li {
    background: linear-gradient(90deg,#04A1A6,#04A1A6);
    background-image: linear-gradient(90deg,#04A1A6,#04A1A6)!important;
}
.game-heading {
    background-color: #04A1A6;
}
.market-title {
    background-color: #04A1A6;
}
.game-page .nav-tabs .nav-link {
    /* background-color: #04A1A6; */
}
.game-page .nav-tabs .nav-link.active {
    background-color: #04A1A6;
}

.featured-box .nav-tabs li a {
    background-color: #04A1A6 !important;
}
.fancy-nav ul li.active a,
.fancy-nav ul li a,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #04A1A6!important;
}
button.time-btn {
    background-color: #04A1A6 !important;
    color: #fff !important;
  }
.tab-pane.sports ul {
    background-color: #0f696e;
}
.main-content ul.nav.nav-tabs.game-nav-bar li.nav-item.text-center {
    background-color: #bb1819;
    color: #fff !important;
}
.main-content ul.nav.nav-tabs.game-nav-bar li.nav-item.text-center a {
    color: #fff !important;
}
.main-content ul.nav.nav-tabs.game-nav-bar li.nav-item.text-center a.nav-link.active {
    color: #fff !important;
    background-color: #bb1819 !important;

}
.main-content ul.nav.nav-tabs.game-nav-bar li.nav-item.text-center a.nav-link {
    border-top: 0px solid #bb1819;
    font-size: 12px;
    font-weight: bold;
    /* background-color: #04A1A6; */
}
.lastResultPart h3, .fancy-marker-title h4 {
    background-color: #04A1A6 !important;
}
.low-high-btn, ul.other-table-box li, .btn-theme {
    background-image: linear-gradient(90deg,#04A1A6,#04A1A6) !important;
}
footer {
    background-color: #04A1A6;
    border-top: 2px solid #04A1A6;
}

.game-page .nav-tabs .nav-link {
    border-top:3px solid #04A1A6;
    font-size: 12px;
    font-weight: bold;
  /* background-color: #04A1A6; */
}


.login .form-group i.fa.fa-android{color: #000 !important;}
.loginInner1 input.form-control{border-bottom: 1px solid #04A1A6 !important;}
.header.header{color: #0a0a0a;}


.fancy-markets .fancy-nav.nav-tabs .nav-item{background-color: #04A1A6;}
.game-page .fancy-markets .nav-tabs .nav-link.active{background-color: #fff !important;}

.modal-header{background-color: #04A1A6 !important}


#backpopup .btn-primary {
  color: #000;
  background-color: #04A1A6;
  border-color: #04A1A6;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{background-color: #04A1A6 !important;}

.btn-primary{background-color: #04A1A6; color: #000;  border-color: #04A1A6;}

.card-header, .report-container .table thead tr{background-color: #04A1A6 !important;}

#modalBookmarker .card-title, #rules-container .card-title {color: #fff !important;}




.match-title {
  background-color: #04A1A6;

}

.header-bottom marquee {
  /* width: 97%;
  position: absolute;
  margin-top: 5px;
  padding-left: 5px;
  font-weight: bold;
  right: 0; */
}
.five-cricket .market-title {
    background-color: #04A1A6 !important;
}
.cc-rules .card .card-header {
    color: #000;
}
.marque, marquee {
  /* display: block;
  height: 24px;
  padding-left: 45px;
  padding-top: 12px; */
  width: 97% !important;
  position: absolute !important;
  margin-top: 5px !important;
  padding-left: 5px !important;
  font-weight: bold !important;
  right: 0 !important;
  color: #fff !important;
}


.casinoicons .new-launch-casino {
    background-color: #04A1A6 !important;
}
.header-right {
    color: #000 !important;
}
.marque, marquee {
    color: #000 !important;
}
.main-content .nav-tabs .nav-item.show .nav-link, .main-content .nav-tabs .nav-link.active {
    /* border-top: 3px solid #fff !important; */
}
.main-content .nav-tabs .nav-item.show .nav-link, .main-content .nav-tabs .nav-link.active {
    color: #000 !important;
}
 
.main-content .nav-link {
    color: #000 !important;
}
 
.loginmodal .btn-primary {
    color: #000 !important;
    border-radius: 0 !important;
}
 
 
 
 
.tv-icon.tv-iconScore  {
    color: #000 !important;
}
.tv-icon {
    color: #000;
}
.modal-header{
    color: #000 !important;
}
.modal-header .close, .modal-header .close:hover {
    color: #000 !important;
}
.place-bet .stakeactionplus, .place-bet .stakeactionminus {
    color: #000 !important;
}
 
.report-container button.btn.btn-link {
    color: #000 !important;
}
.theme-blue .bs-datepicker-head {
    background-color: #04a1a6 !important;
}
.theme-blue .bs-datepicker-body table td span.selected, .theme-blue .bs-datepicker-body table td.selected span, .theme-blue .bs-datepicker-body table td span[class*="select-"]:after, .theme-blue .bs-datepicker-body table td[class*="select-"] span:after{
    background-color: #04a1a6 !important;
}
.theme-blue .bs-datepicker-body table td.week span {
    color: #04a1a6 !important;
}
.la-ball-scale-multiple {
    color: rgb(12 10 10) !important;
}