.login {
    background-image: linear-gradient(#46a29f, #46a29f)!important;
}

.btn-submit {
    background-color: #46a29f !important;
    border-color: #46a29f !important;
    color: #fff !important;
}

.featured-box-login h4 {
    color: #46a29f;
}

.modal-header, .popup21white .modal-header {
    background: #46a29f;
}
.header.header {
    background-color: #46a29f;
}
.header-bottom {
    background-color: #46a29f;
}
.main-content .nav-tabs {
    background-color: #46a29f;
}
.main-content .nav-tabs .nav-link {
    border-top: 3px solid #46a29f !important;
}
.main-content .nav-tabs .nav-item:after {
    background: #ffffff;
    top: 12px;
    width: 1px;
    content:none;
}
.andar-bahar2 .first-bet > div:first-child, .andar-bahar2 .second-bet > div:first-child {
    border: 3px solid #46a29f !important;
    background-color: #46a29f !important;
}
.andar-bahar2 .sa > div:first-child {
    border: 3px solid #46a29f !important;
}
.baccarat .statistics-title {
    background-color: #46a29f !important;
}
.baccarat-container .bet-odds {
    background-color: #46a29f !important;
}
.fa.fa-info-circle{
    color: #46a29f !important;
}
.place-bet .stakeactionplus, .place-bet .stakeactionminus {
    background: #46a29f !important;
}
.place-bet .btn-secondary {
    background-color: #46a29f !important;
    border-color: #46a29f !important;
    color: #fff;
}
.main-content .sports .nav-tabs {
    background-color: #46a29f;
}
.sports .nav-tabs {
    background-color: #46a29f;
}
.bs {
    box-shadow: 0px -5px 5px -5px rgb(0 0 0 / 50%);
    position: relative;
}
.btn-primary {
    color: #fff;
    background-color: #46a29f !important;
    border-color: #46a29f !important;
}
.sports .nav-tabs .nav-link.active, .sports .nav-tabs .nav-link:hover {
    background-color: #46a29f;
    /* border-bottom: solid 3px #fff !important; */
}
.livecasinos ,.livecasinos1{
    background-color: #46a29f !important;
    }
.main-content .nav-tabs .nav-link {
    border-top: 0;
}
.casinoicons .casino-name {
    background-image: linear-gradient(#46a29f, #46a29f); color: #fff; font-size: 11px;
}
.sidebar-title {
    background: #46a29f;
}
.casinoicons-title {
    background-image: linear-gradient(#46a29f, #46a29f);
}
.btn-theme {
    background-image: linear-gradient(to right, #46a29f, #46a29f) !important;
}
.card-header {
    background-color: #46a29f;
}
.game-heading {
    background-color: #46a29f;
}
.lastResultPart h3 {
    background-color:#46a29f;
}
ul.other-table-box li {
    background: linear-gradient(90deg,#46a29f,#46a29f);
    background-image: linear-gradient(90deg,#46a29f,#46a29f)!important;
}
.game-heading {
    background-color: #46a29f;
}
.market-title {
    background-color: #46a29f;
}
.game-page .nav-tabs .nav-link {
    /* background-color: #46a29f; */
}
.game-page .nav-tabs .nav-link.active {
    background-color: #46a29f;
}

.featured-box .nav-tabs li a {
    background-color: #46a29f !important;
}
.fancy-nav ul li.active a,
.fancy-nav ul li a,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #46a29f!important;
}
button.time-btn {
    background-color: #46a29f !important;
    color: #fff !important;
  }
.tab-pane.sports ul {
    background-color: #46a29f;
}
.main-content ul.nav.nav-tabs.game-nav-bar li.nav-item.text-center {
    background-color: #bb1819;
}
.main-content ul.nav.nav-tabs.game-nav-bar li.nav-item.text-center a.nav-link.active {
    color: #fff !important;
    background-color: #bb1819 !important;

}

.main-content ul.nav.nav-tabs.game-nav-bar li.nav-item.text-center a.nav-link {
    border-top: 0px solid #bb1819;
    font-size: 12px;
    font-weight: bold;
    /* background-color: #04A1A6; */
}
.lastResultPart h3, .fancy-marker-title h4 {
    background-color: #46a29f !important;
}
.low-high-btn, ul.other-table-box li, .btn-theme {
    background-image: linear-gradient(90deg,#46a29f,#46a29f) !important;
}
footer {
    background-color: #46a29f;
    border-top: 2px solid #46a29f;
}

.game-page .nav-tabs .nav-link {
    border-top:3px solid #46a29f;
    font-size: 12px;
    font-weight: bold;
  /* background-color: #46a29f; */
}


.login .form-group i.fa.fa-android{color: #fff !important;}
.loginInner1 input.form-control{border-bottom: 1px solid #46a29f !important;}
.header.header{color: #0a0a0a;}


.fancy-markets .fancy-nav.nav-tabs .nav-item{background-color: #46a29f;}
.game-page .fancy-markets .nav-tabs .nav-link.active{background-color: #fff !important;}

.modal-header{background-color: #46a29f !important}


#backpopup .btn-primary {
  color: #fff;
  background-color: #46a29f;
  border-color: #46a29f;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{background-color: #46a29f !important;}

.btn-primary{background-color: #46a29f; color: #fff;  border-color: #46a29f;}

.card-header, .report-container .table thead tr{background-color: #46a29f !important;}

#modalBookmarker .card-title, #rules-container .card-title {color: #fff !important;}




.match-title {
  background-color: #46a29f;

}

.header-bottom marquee {
  /* width: 97%;
  position: absolute;
  margin-top: 5px;
  padding-left: 5px;
  font-weight: bold;
  right: 0; */
}
.five-cricket .market-title {
    background-color: #46a29f !important;
}
.cc-rules .card .card-header {
    color: #fff;
}
.marque, marquee {
  /* display: block;
  height: 24px;
  padding-left: 45px;
  padding-top: 12px; */
  width: 97% !important;
  position: absolute !important;
  margin-top: 5px !important;
  padding-left: 5px !important;
  font-weight: bold !important;
  right: 0 !important;
  color: #fff !important;
}


.casinoicons .new-launch-casino {
    background-color: #46a29f !important;
}
.header-right {
    color: #fff !important;
}