<div class="col-md-12 main-container">
    <div class="listing-grid">
      <div class="detail-row">
        <h2>Affiliate Code List </h2>
       
      </div>
      <div class="table-responsive data-table" id="tbldata">
        <div id="example_wrapper" class="dataTables_wrapper no-footer">
            <div class="dt-buttons">
                <button (click)="addAffiliateCode()" class="btn btn-success buttons-html5" tabindex="0" aria-controls="example"
                  type="button"><span>Add Affiliate Code</span></button>
               
              </div>
          <div id="example_filter" class="dataTables_filter">
            <label>Search:
              <input type="search" [formControl]="searchKey" class="form-control datatable-search" placeholder="" aria-controls="example">
            </label>
          </div>
          <table id="example" class="table table-striped table-bordered datatable dataTable no-footer" style="width:100%"
            role="grid" aria-describedby="example_info">
            <thead>
              <tr role="row">
               
                <th width="10%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Credit"
                  style="width: 173px;">Code</th>
                <th width="10%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Debit" style="width: 173px;">
                  Name</th>
                  <th width="10%" class="sorting_asc" rowspan="1" colspan="1" aria-label="Date" 
                  style="width: 173px;">Created Date
                </th>
                <th width="10%" class="sorting_asc" rowspan="1" colspan="1" aria-label="Date" 
                style="width: 173px;">Affiliated Commission
              </th>
              <th width="10%" class="sorting_asc" rowspan="1" colspan="1" aria-label="Date" 
              style="width: 173px;">Affiliated History</th>
          
               
                
               
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="acountStatementList.length != 0">
               
                <ng-container *ngFor="let report of acountStatementList;let i = index">
                  <tr role="row" class="odd">
                    <td class="text-left">{{report?.code}}</td>
                    <td class="text-left">{{report?.name}}</td>
                    <td class="sorting_1"> {{report?.created_at  | formatDate: 'MMMM Do YYYY, h:mm a'}}</td>
                    <td class="text-left">
                      <button type="button" class="btn btn-success" (click)="onBonusHistory(report?.code)">View</button>
                    </td>
                    <td class="text-left">
                      <button type="button" class="btn btn-success" (click)="onAffiliateHistory(report?.code)">View</button>
                    </td>

                  </tr>
                </ng-container>
              </ng-container>
              <ng-container  *ngIf="acountStatementList.length === 0">
                <tr>
                  <td colspan="6" style="text-align: center;">No Record Found !</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
     
  
  
           
          </div>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="modal fade" id="add-code">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Affiliate Code  </h4>
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body">
            <form method="post" action="" [formGroup]="createForm"   class="ajaxFormSubmit">
                <div class="detail-row">
                  <h2>Add Bonus</h2>
                  <div class="row">
                    <div class="col-12">
                      <h3 class="heading-text">Add New Bonus</h3>
                            <div class="m-t-20">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="">Name:</label>
                                    <!-- <input id="" formControlName="name"   placeholder="Bonus Name" class="form-control"
                                     name="" type="text" value=""> -->
          
                                     <input id="" formControlName="name" placeholder="Name" class="form-control" name="" type="text" value="">

                                     <p class="error-text" *ngIf="createForm.get('name').hasError('required') 
                                    && createForm.get('name').touched"> Name must be required</p>  
            
                                    
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="code" >code:</label>
                                    <input id="" formControlName="code" placeholder="Event Name" class="form-control" name="" type="text" value="">
                                    <p class="error-text" *ngIf="createForm.get('code').hasError('required') 
                                    && createForm.get('code').touched">code must be required</p>  
            
                                  </div>
                                </div>
                              </div>
                            </div>
                    </div>
                  
                  </div>
                </div>
            
                <div id="example_filter" class="dataTables_filter">
                  <label>
                    <!-- [disabled]="creatUserForm.invalid" -->
                    <!-- <input type="search" class="form-control datatable-search" placeholder="" aria-controls="example"> -->
                    <button type="submit" class="btn btn-success" [disabled]="createForm.invalid"  (click)="createUser()">Create Bonus</button>
                  </label>
                </div>
              </form>
        </div>
        <div class="modal-footer"> </div>
      </div>
    </div>
  </div>
  