<ul class="nav nav-tabs game-nav-bar">
    <li class="nav-item"><a class="nav-link" routerLink="/main/inPlay"> In-play </a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/main/sports"> Sports </a></li>
    <li class="nav-item sdmexchshow nav-link router-link-exact-active router-link-active active"><a class="nav-link" > Casino + Slot </a></li>
    <!-- <li class="nav-item"><a class="nav-link"> Election </a></li> -->
    <li class="nav-item"><a class="nav-link" routerLink="/main/other-casino"> Others </a></li>
</ul>