
.login .wrapper1 {
    background: unset !important;
    /* fallback for old browsers */
    background: unset !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: unset !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 
.login {
    background-image: linear-gradient(#262d51, #516397);
    height: 100vh;
}
.log-fld h2 {
    color: #000 !important;
}
.log-fld h2:after, .log-fld h2:before {
    background:#000 !important;
}
.header-bottom {
    background-color: #262d51;
}
.btn-submit.btn-login {
    background-color: #262d51 !important;
    border-color: #262d51 !important;
    color: #fff !important;
}

.btco-hover-menu .collapse ul>li:hover>a {
    background: #262d51;
}
.btn-diamond {
    color: #fff!important;
}
.master-balance {
    background-color: #516397;
}
.data-table table td.actions  a {
    background-color: #444 !important;
}
 
/* .ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem;
    background: #262d51 !important;
    color: #fefefe;
    cursor: default;
} */
.fa-arrow-alt-circle-down, .fa-arrow-alt-circle-up {
    color: #FFF;
}

.btn-diamond {
    background-color: #262d51;
    border-color: #262d51;
    color:#FFF;
}

.ngx-pagination .current {
    background: #262d51 !important;
}
.data-table table td a {
    background: #262d51 !important;
    color: #FFF !important;
}
.btn-success, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    background-color: #262d51 !important;
    border-color: #262d51 !important;
}
.ngx-pagination a, .ngx-pagination button {
    padding: 3px 10px !important;
    background-color: #516397 !important;
}

input:checked~.checkmark {
    background-color: #444;
    border: solid 1px #444;
}
.btco-hover-menu .collapse ul li a:hover {
    background-color: #516397;
}
.game-heading {
    background-color: #516397 !important;
}
.uname .btn-success, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    background-color: #444 !important;
    border-color: #444 !important;
}
.card-header {
    background-color: #516397;
    line-height: 1.6;
    padding-top: 8px;
    padding-bottom: 8px;
}
.log-copy{
    text-transform: uppercase !important;
}
.lastResultPart h3 {
    background-color: #516397 !important;
    color: #fff !important;
}
.nav-pills .show>.nav-link, .tab_betslip .nav-pills .nav-link.active {
    color: #FFF;
    background-color: #262d51;
    border-top: 3px solid #262d51;
    border-radius: 0;
    outline: 0;
}
.btn-back {
    background-color: #516397 !important;
    border-color: #516397;
}
.tab_betslip .nav.nav-pills {
    background: #516397b3;
}

.user-search .username ul {
    background-color: #262d51;
}
h3.heading-text {
    font-size: 15px;
    background-color: #262d51;
    color: #FFF;
}
.table thead th {
    background-color: #FFF;
    color: #666;
}
.modal-header .close {
    background-color: #262d51;
}
.modal-header {
    border-bottom: 0;
    background-color: transparent;
}
h4.modal-title {
    color: #262d51;
}
button.close i {
    font-size: 17px;
    color: #FFF;
    text-shadow: none;
}
.btn-submit {
    background-color: #262d51;
    border-color: #262d51;
    color: #fff;
}
#view-more .nav-tabs .nav-item.show .nav-link, #view-more .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #262d51;
    border: 0;
}
.modal-header {
    padding: 10px;
    background: transparent !important;
    color: #fff;
    border-radius: 0;
    border: 0;
}

.table thead th {
    background-color: transparent;
    color: #333;
}
.btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu {
    background: #262d51 !important;
}
/*.header-bottom li a{color: #000 !important;}*/
.header-bottom li a:hover{color: #fff !important;}
.user-search .username{color: #fff;}




.bar1, .bar2, .bar3 {

  background-color: #fff !important;

}
.navbar-nav .dropdown-menu a{color: #fff !important;}

.list-unstyled .navbar-nav .header-bottom li a  {
  color: #000!important;
}
.header-bottom ul.whiteColor li a  {
    color: #fff!important;
  }
.navbar-nav .dropdown-menu a {
  color: #000 !important;
}
.blinking span {
    animation: blinkingText 1.2s infinite !important;;
}

.blinking:hover span {
    animation: blinkingHoverText 1.2s infinite !important;
}

@keyframes blinkingText {
    0% {
        color: #ff1b43;
    }
    20% {
        color: #ff1b43;
    }
    40% {
        color: #ff1b43;
    }
    60% {
        color: #ff1b43;
    }
    80% {
        color: #e7ee00;
    }
    100% {
        color: #e7ee00;
    }
}

@keyframes blinkingHoverText {
    0% {
        color: #ff1b43;
    }
    20% {
        color: #ff1b43;
    }
    40% {
        color: #ff1b43;
    }
    60% {
        color: #ff1b43;
    }
    80% {
        color: #e7ee00;
    }
    100% {
        color: #e7ee00;
    }
}
 

