
<app-auth-header></app-auth-header>
<section class="welcome_section text-center" style=" background: url(assets/img/top-bg.png);">
    <div class="container">
        <h3 class="mb-md-3 mb-2">Welcome to {{getUrlReplace(origin)}}</h3>
        <h2>BET ON MULTIPLE SPORTS</h2>
        <div class="row mt-md-5 mt-4">
            <div class="col-md-4">
                <div class="sports-item">
                    <a href="javascript:void(0);" title="Cricket" (click)="openLoginModal()">
                        <div class="sp-img">
                            <img src="assets/img/sport1.png" alt="Cricket" class="w-100">
                        </div>
                        <h4>Cricket</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sports-item">
                    <a href="javascript:void(0);" title="Soccer" (click)="openLoginModal()">
                        <div class="sp-img">
                            <img src="assets/img/sport2.png" alt="Soccer" class="w-100">
                        </div>
                        <h4>Soccer</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sports-item">
                    <a href="javascript:void(0);" title="Tennis" (click)="openLoginModal()">
                        <div class="sp-img">
                            <img src="assets/img/sport3.png" alt="Tennis" class="w-100">
                        </div>
                        <h4>Tennis</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="casino-section container">
        <div class="heading-title">
            <h2>CASINO</h2>
        </div>
        <div class="row mt-md-5 mt-4">
            <div class="col-lg-3 col-sm-6 px-md-2 px-4">
                <div class="casion-itm">
                    <img src="assets/img/casino1.jpg" alt="ONLINE CASINO GAME" class="w-100">
                    <h4>ONLINE CASINO GAME</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 px-md-2 px-4">
                <div class="casion-itm">
                    <img src="assets/img/casino2.jpg" alt="LIVE DEALER GAME" class="w-100">
                    <h4>LIVE DEALER GAME</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 px-md-2 px-4">
                <div class="casion-itm">
                    <img src="assets/img/casino3.jpg" alt="SLOT GAMES" class="w-100">
                    <h4>SLOT GAMES</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 px-md-2 px-4">
                <div class="casion-itm">
                    <img src="assets/img/casino4.jpg" alt="POKER GAME" class="w-100">
                    <h4>POKER GAME</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<app-auth-footer></app-auth-footer>

<!-- <div class="modal fade" id="loginpopup" data-bs-backdrop="loginpopup" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginpopuplable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header border-0">                
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pb-4 pt-0">    
            <h4 class="text-center mb-4">Login</h4>                
            <form>
                <div class="form-group mb-4">
                    <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group mb-3">
                    <input type="password" class="form-control"placeholder="Password">
                  </div>
                  <button class="btn1" type="submit">LOGIN</button>
            </form>
        </div>
    </div>
    </div>
</div> -->
    
