<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h5><a href="" title=""><img src="assets/img/telegram.png" alt="telegram" class="me-1"> Connect us on Telegram</a></h5>
            </div>
            <div class="col-lg-12 brands-logo mt-4">
                <ul class="list-unstyled m-0 p-0">
                    <li><a href="javascript:void(0);"><img src="assets/img/img-01.png" alt="img"></a></li>
                    <li><a href="javascript:void(0);"><img src="assets/img/img-02.png" alt="img"></a></li>
                    <li><a href="javascript:void(0);"><img src="assets/img/img-03.png" alt="img"></a></li>
                    <li><a href="javascript:void(0);"><img src="assets/img/img-04.png" alt="img"></a></li>
                    <li><a href="javascript:void(0);"><img src="assets/img/img-05.png" alt="img"></a></li>
                    <li><a href="javascript:void(0);"><img src="assets/img/img-06.png" alt="img"></a></li>
                    <li><a href="javascript:void(0);"><img src="assets/img/img-07.png" alt="img"></a></li>
                    <li><a href="javascript:void(0);"><img src="assets/img/img-08.png" alt="img"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>