  <div class="featured-box">
    <section class="card">
      <header class="card-header">
        <h2 class="card-title">Change Password</h2>
      </header>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <div class="featured-box-login featured-box-secundary default">
              <form [formGroup]="changePass" method="post" action="">
                <div class="form-group m-b-20">
                  <input class="form-control" formControlName="master_password" placeholder="Enter Current Password" required name="c_pwd" type="password" value="">
                  <span class="FontTextBlack10px"
                  *ngIf="changePass.get('master_password').hasError('required') && changePass.controls.master_password.touched ">
                  Password is required !
                </span>
                </div>
                <div class="form-group m-b-20">
                  <input class="form-control" formControlName="new_password" placeholder="Enter New Password" required name="new_pwd" type="password" value="">
                  <span class="FontTextBlack10px"
                  *ngIf="changePass.get('new_password').hasError('required') && changePass.controls.new_password.touched ">
                  Password is required !
                </span>
                  <span class="FontTextBlack10px"
                  *ngIf="!changePass.get('new_password').hasError('required') && changePass.controls.new_password.touched && changePass.controls.new_password.errors">
                  Password Minimum eight characters, at least one letter and one number!
                </span>
                </div>
                <div class="form-group m-b-20">
                  <input class="form-control" formControlName="confirm_password" placeholder="Confirm New Password" required name="new_pwd_confirmation" type="password" value="">
                  <span class="FontTextBlack10px"
                  *ngIf="changePass.get('confirm_password').hasError('required') && changePass.controls.confirm_password.touched ">
                  Password is required !
                </span>
                </div>
                <div class="form-group text-center">
                  <input type="hidden" name="_token" value="">
                  <button type="submit" class="btn btn-submit btn-login" (click)="changePassword()" [disabled]="changePass.invalid">Change Password<i class="fas fa-sign-in-alt"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

