<div class="featured-box">
  <div class="">
    <style type="text/css">
  .radio-custom {
      display: inline-block;
  }
</style>
    <section class="card">
      <header class="card-header">
        <h2 class="card-title">Unsetteled Bet</h2>
      </header>
      <div class="card-body">
        <form method="POST" action="">

        <div class="radio-inline radio-custom ">
            <input type="radio" name="radioExample" id="matched" checked="" (click)="getUnsettledbet('M')">
            <label for="radioExample1">Matched</label>
        </div>
        <div class="radio-inline radio-custom " style="margin-bottom:7px">
            <input type="radio" name="radioExample" id="un_dmatch"   (click)="getUnsettledbet('U')">
            <label for="radioExample1">Un Matched</label>
        </div>
        <div class="radio-inline radio-custom " style="margin-bottom:7px">
            <input type="radio" name="radioExample" id="deleted"  (click)="getUnsettledbet('D')">
            <label for="radioExample1">Deleted</label>
        </div>
      </form>

        <div class="table-responsive">
          <div id="account-statement_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="account-statement_length">
                  <label>Show
                    <select name="account-statement_length" aria-controls="account-statement" class="form-control form-control-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    entries</label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="account-statement_filter" class="dataTables_filter">
                  <label>Search:
                    <input type="search" [formControl]="searchKey" class="form-control datatable-search" placeholder="" aria-controls="example">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table id="example" class="table table-bordered datatable dataTable table-pad no-footer" style="width:100%" role="grid" aria-describedby="example_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="Event Type: activate to sort column ascending" style="width: 30px;">No.</th>

                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="Event Type: activate to sort column ascending" style="width: 197px;">Event Name</th>
                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="Event Name: activate to sort column ascending" style="width: 230px;">Nation</th>
                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="Bet Type: activate to sort column ascending" style="width: 160px;">Event Type</th>
                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="User Rate: activate to sort column ascending" style="width: 178px;">Market Name</th>
                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="Amount: activate to sort column ascending" style="width: 146px;">Side</th>
                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="Username: activate to sort column ascending" style="width: 184px;">Rate</th>
                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="Match Date: activate to sort column ascending" style="width: 207px;">Amount</th>
                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="Place Date: activate to sort column ascending" style="width: 193px;">Place Date</th>
                      <th class="sorting" tabindex="0" aria-controls="example" aria-label="Place Date: activate to sort column ascending" style="width: 193px;">Match Date</th>

                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="betList != null && betList .length != 0;else NoData">
                      <ng-container *ngFor="let bet of betList | paginate: config;trackBy:let i=index;">
                    <tr [ngClass]="bet?.is_back == 0 ?'lay':'back'" class="odd">
                      <td>{{i + 1}}</td>
                      <td>{{bet?.match_name}}</td>
                      <td>{{bet?.selection_name}}</td>
                      <td>{{bet?.sport_name}}</td>
                      <td>{{bet?.market_name}}</td>
                      <td>{{bet?.is_back == 0 ? 'Lay': 'Back'}}</td>
                      <td>{{bet?.odds}}</td>
                      <td>{{bet?.stack}}</td>
                      <td>{{bet?.placed}}</td>
                      <td>{{bet?.bet_matched_at}}</td>

                    </tr>
                  </ng-container>
                </ng-container>
                  <ng-template #NoData>
                    <tr>
                      <td valign="top" colspan="10" class="dataTables_empty">No data available in table</td>
                    </tr>
                  </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="account-statement_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="account-statement_paginate">
                  <ul class="pagination">
                    <!-- <li class="paginate_button page-item previous disabled" id="account-statement_previous"><a       aria-controls="account-statement" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li> -->
                    <!-- <li class="paginate_button page-item next disabled" id="account-statement_next"><a       aria-controls="account-statement" data-dt-idx="1" tabindex="0" class="page-link">Next</a></li> -->
                    <ng-container *ngIf="totalrecored && (betList != null && betList.length != 0)">
  
                      <pagination-controls  
  
                      (pageChange)="pageChange($event)"    class="my-pagination"> 
                    </pagination-controls>
                    
                    </ng-container>
                  <!-- </ul>
                   </div> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
