<!-- Menu tabs-->


<!-- Tab-content -->

<div class="main-content">
    <!-- <app-cup-menu-list></app-cup-menu-list> -->

 <ul class="nav nav-tabs bs  game-nav-bar">
     <li class="nav-item"><a class="nav-link" routerLink="/main/inPlay"> In-play </a></li>
     <li class="nav-item"><a class="nav-link" routerLink="/main/sports"> Sports </a></li>
     <li class="nav-item sdmexchshow"><a class="nav-link" routerLink="/main/casino-slot"> Casino + Slot </a></li>
     <!-- <li class="nav-item"><a class="nav-link"> Election </a></li> -->
     <li class="nav-item"><a class="nav-link router-link-exact-active router-link-active active"  > Others </a></li>
 </ul>
</div>
<!-- Menu -->


<!-- Tab-content -->
 
<!-- Casiono -->
<app-other-casion-slot></app-other-casion-slot>
<!-- Casiono -->
