

.login {
	background-image: linear-gradient(#04a1a6, #04a1a6);
    
}

.btn-submit {
    background-color: #04a1a6;
    border-color: #04a1a6;
    color: #000 !important;
}

.featured-box-login h4 {
    color: #04a1a6;
}

.modal-header, .popup21white .modal-header {
    background: #04a1a6;
}
.header {
    background-color: #04a1a6;
}
.header-bottom {
    background-color: #0f696e;
}
.sidebar-title {
    background: #04a1a6;
}
.casinoicons-title {
    background-image: linear-gradient(#04a1a6, #04a1a6);
    color: #000 !important;
    
}
.heading-part {
    background-color: #04a1a6 !important;
}
.btn-theme {
    background-image: linear-gradient(to right, #72958f, #006760) !important;
}
.card-header {
    background-color: #04a1a6 !important;
}
.game-heading {
    background-color: #04a1a6 !important;
}
.lastResultPart h3 {
    background-color:#04a1a6 !important;
}
ul.other-table-box li {
    background: linear-gradient(90deg,#72958f,#1f3a38);
    background-image: linear-gradient(90deg,#72958f,#1f3a38);
}
.game-heading {
    background-color: #04a1a6;
}
.market-title {
    background-color: #3fad9d;
}
.game-page .nav-tabs .nav-link {
    background-color: #04a1a6;
}
.game-page .nav-tabs .nav-link.active {
    background-color: #04a1a6;
}

.featured-box .nav-tabs li a {
    background-color: #ccc !important;
}
.fancy-nav ul li.active a, 
.fancy-nav ul li a, 
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
    background-color: #04a1a6 !important;
}
.lastResultPart h3, .fancy-marker-title h4 {
    background-color: #04a1a6 !important;
}
.low-high-btn, .btn-theme {
    background-image: linear-gradient(90deg,#72958f,#00645d) !important;
}
footer {
    background-color: #04a1a6;
    border-top: 2px solid #04a1a6;
}
button.time-btn {
    background-color: #04a1a6 !important;
    color: #fff !important;
  }
  button.time-btn:hover {
    background-color: #72958f !important;
    color: #FFF !important;
  }

  #change-pass .modal-header{background-color: #04a1a6;}
  .home-tabs .nav-tabs .nav-link{order: 0; border-right: 1px solid #04a1a6;}
  .header-top {
    color: #fff !important;
}
  .header{color: #fff;}
  marquee{color: #000 !important;}
  #modalrules .nav-tabs .nav-link{    background: #04a1a6; color: #fff;}
  .header-top ul {
    color: #000 !important;
}
  
  .featured-box .nav-tabs li{ background-color: #ccc;}
  .featured-box .nav-tabs li a{background-color: #ccc !important;}
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color: #0f696e  !important;
  }
  .sidebar-title h5 {
    color: #000 !important;
}
.header-bottom li a:hover {
    color: #000 !important
}
  .featured-box[_ngcontent-mpc-c90]   .nav-tabs[_ngcontent-mpc-c90]   li[_ngcontent-mpc-c90]   a[_ngcontent-mpc-c90] {
    background-color: #04a1a6 !important ;
        color: #fff;
}
.nav-tabs{border-bottom: none;}
.featured-box .nav-tabs{box-shadow: none !important;}




.cricket1{background-color: #04a1a6;}
.cricket4{background-color: #087F23;}
.cricket6{background-color: #883997;}
.modal-header{background: #04a1a6 !important;}

#modalGmaeRules .card-body{background: #333;}



.game-heading {
    background-color: #04a1a6 !important;
}


 .featured-box .fancy-markets  .nav-tabs   li  a {
    background-color: #04a1a6 !important;
}

.featured-box .fancy-markets .nav-tabs .nav-item.show .nav-link, .featured-box .fancy-markets .nav-tabs .nav-link.active {
    background-color: #04a1a6 !important;
}

footer {
    color: #000;
}

.la-ball-scale-multiple {
    color: rgb(12 10 10) !important;
}