<div class="featured-box">

    <div class="">
      <section class="card">
        <header class="card-header">
          <h2 class="card-title">Crypto Wallet List</h2>
        </header>
        <div class="card-body p-2">
            <div class="text-right">
                <button class="btn btn-primary" value="submit" (click)="onCreateWallet()" type="submit">Create Wallet</button>
              </div>
        </div>
      
      </section>

     
  
    </div>
    <table id="example" class="table table-bordered datatable dataTable table-pad no-footer" style="width:100%" role="grid" aria-describedby="example_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example"  style="width: 197px;">Name</th>
                <th class="sorting" tabindex="0" aria-controls="example"  style="width: 197px;">Balance</th>
                <th class="sorting" tabindex="0" aria-controls="example"  style="width: 216px;">Address</th>
                <th class="sorting" tabindex="0" aria-controls="example"  style="width: 160px;">Coin Id</th>
                <th class="sorting" tabindex="0" aria-controls="example"  style="width: 178px;">Wallet Id</th>
                <th class="sorting" tabindex="0" aria-controls="example"  style="width: 178px;">Type</th>
                <th class="sorting" tabindex="0" aria-controls="example"  style="width: 178px;">Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="accountReportList != null && accountReportList .length != 0;else NoData">
                <ng-container *ngFor="let bet of accountReportList">
                    <tr class="odd">
                        <td>{{bet?.name}}</td>
                        <td><a href="javascript:void(0)" (click)="viewBlance(bet)" class="view-balance">View Balance</a></td>
                        <td>{{bet?.address}}</td>
                        <td>{{bet?.coin_id}}</td>
                        <td>{{bet?.wallet_id}}</td>
                        <td>{{bet?.type}}</td>
                        <td><a href="javascript:void(0)" (click)="onSendMoney(bet)" class="view-balance">Send Money</a> </td>

                    </tr>
                </ng-container>
            </ng-container>
            <ng-template #NoData>
                <tr>
                    <td valign="top" colspan="10" class="dataTables_empty">No data available in table</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
  </div>


  <div class="modal fade" id="ViewBlance">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Balance</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <h4>Balance: {{walletBalance?.balance}}</h4>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="showPassword">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Password </h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center" *ngIf="walletPassword != null && walletPassword != ''">Your Password is : 
                  <span class="text-success"> {{walletPassword}}</span>
                 
                   please remember for feature transaction.</h5>
                   <h5 class="text-center" *ngIf="walletPassword == null || walletPassword == ''">
                     You Can Use older password generated By Create Wallet Time
                   </h5>
                <h4 class="text-center text-success">Thank You</h4>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="sendMoneyModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Balance</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="modal-body">
                <form  [formGroup]= "withDrawForm" id="frm_lgn" method="POST" (ngSubmit)="onWithdraw()" autocomplete novalidate>
      
                    <div class="mb-0 row">
                      <div class="col-sm-12">
                        <label for="banckacn" class="form-label">User Name<span class="text-danger"><sup>*</sup></span>:</label>
                        <input type="text" class="form-control" placeholder="Search By UserName" autocomplete="off" value="" #myInput >
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        <div class="reciver-user-list" *ngIf="userList.length > 0">
                          <ul>
                            <ng-container *ngFor="let user of userList">
                            <li (click)="onSelectReceiverUser(user)"> {{user.user_name}} </li>
                          </ng-container>
                          </ul>
                        </div>
                       
               </div>
                     <div class="col-sm-12">
                              <label for="banckacn" class="form-label">Receiver Address<span class="text-danger"><sup>*</sup></span>:</label>
                              <input type="text" class="form-control" formControlName="receiver_address" 
                              placeholder="Receiver Address" required  readonly>
                              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                              <span *ngIf="withDrawForm.controls['receiver_address'].invalid && ( withDrawForm.controls['receiver_address'].dirty ||  withDrawForm.controls['receiver_address'].touched)" class="alert">
                                <span  class="errorMessage" *ngIf=" withDrawForm.controls['receiver_address'].errors?.required">
                                    Receiver Address is required
                                </span>
                              </span>
                     </div>
                     <div class="col-sm-12">
                        <label for="banckacn" class="form-label">Amount<span class="text-danger"><sup>*</sup></span>:</label>

                        <input type="number" class="form-control" formControlName="amount" placeholder="Please Enter Branch amount" required>
                        <span *ngIf="withDrawForm.controls['amount'].invalid && ( withDrawForm.controls['amount'].dirty ||  withDrawForm.controls['amount'].touched)" class="alert">
                          <span  class="errorMessage" *ngIf=" withDrawForm.controls['amount'].errors?.required">
                            amount Code is required
                          </span>
                        </span>
                    </div>
                    <div class="col-sm-12">
                        <label for="banckacn" class="form-label">password<span class="text-danger"><sup>*</sup></span>:</label>

                        <input type="password" class="form-control" formControlName="password" placeholder="Please Enter Branch password" required>
                        <span *ngIf="withDrawForm.controls['password'].invalid && ( withDrawForm.controls['password'].dirty ||  withDrawForm.controls['password'].touched)" class="alert">
                          <span  class="errorMessage" *ngIf=" withDrawForm.controls['password'].errors?.required">
                            password Code is required
                          </span>
                        </span>
                    </div>
                    </div>
                    

              <div  class="modal-footer">
                <button type="submit"  class="btn btn-success">Withdrawal Request</button>

                  <button  data-dismiss="modal" class="btn btn-danger">Close</button>
              </div>
              </form>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
  </div>
  
 
  