<div id="modalBookmarker" class="modal fade show">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rules</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body nopading modal-scroll">
                <div class="container-fluid">
                    <div class="row" id="rules-container" data-typeid="">
                        <div class="col-md-12 nopading rules-description">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Bookmarker</h4>
                                </div>
                                <div class="card-body">
                                    <div id="rules-loading" class="loading" style="display: none;height: 400px"> <img src="images/loader.gif" alt="" class="mCS_img_loaded"> </div>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td><span class="text-danger">Due to any reason any team will be getting
                                                        advantage or disadvantage we are not concerned.</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="text-danger">Company reserves the right to suspend/void
                                                        any id/bets if the same is found to be illegitimate. For example
                                                        incase of vpn/robot-use/multiple entry from same IP/ multiple
                                                        bets at the same time (Punching) and others. Note : only winning
                                                        bets will be voided.</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="text-danger">We will simply compare both teams 25 overs
                                                        score higher score team will be declared winner in ODI (25 over
                                                        comparison)</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="text-danger">We will simply compare both teams 10 overs
                                                        higher score team will be declared winner in T20 matches (10
                                                        over comparison)</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="text-danger">Any query about the result or rates should
                                                        be contacted within 7 days of the specific event, the same will
                                                        not be considered valid post 7 days from the event.</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="text-danger">If two team ends up with equal points,
                                                        then result will be given based on the official point
                                                        table</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="text-danger">Tennis:- Advance Session market</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="">If the second set is not completed all bets regarding
                                                        this market will be voided</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="">If a player retires after completion of second set,
                                                        then the market will be settled as three sets</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="text-danger">Virtual Cricket</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="">At any situation if the video gets
                                                        interrupted/stopped then the same cannot be continued due to any
                                                        technical issues bookmaker market will be voided</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalBookmarker1" class="modal fade show">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rules</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body nopading modal-scroll">
                <div class="container-fluid">
                    <div class="row" id="rules-container" data-typeid="">
                        <div class="col-md-12 nopading rules-description">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{{marketname}}</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <tr class="norecordsfound">
                                            <td class="text-center">No records Found</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>