<div class="report-container">
  <!---->
  <div class="card">
    <div class="card-header page-header-sab">
      <h4 class="mb-0">Bet History</h4>
    </div>
    <div class="card-body container-fluid container-fluid-5">
      <form
        class="navbar-form clearfix"
        [formGroup]="betHistoryForm"
        id="frm_lgn"
        method="POST"
        (ngSubmit)="getBetHistory(betHistoryForm.value)"
        autocomplete
        novalidate
      >
        <div class="row row5">
          <div class="col-6">
            <div class="form-group mb-0">
              <select
                name="reportType"
                class="custom-select"
                formControlName="sport_id"
              >
                <option value="" disabled>Select Sport</option>
                <ng-container *ngFor="let sport of sportList">
                  <option [value]="sport?.sport_id">{{ sport.name }}</option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group mb-0">
              <select
                name="reportType"
                class="custom-select"
                formControlName="bet_type"
              >
                <option value="" disabled>Bet Status</option>
                <option value="M">Matched</option>
                <option value="U">Deleted</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row row5 mt-2">
          <!-- <div class="col-6"> -->
          <div class="col-xs-6 col-6 col-sm-6 col-md-4 form-group">
            <div class="form-group mb-0">
              <div class="mx-datepicker">
                <div class="mx-input-wrapper">
                  <input
                    formControlName="from_date"
                    bsDatepicker
                    name="date"
                    type="text"
                    autocomplete="off"
                    placeholder="Select Date"
                    class="mx-input"
                    class="form-control"
                    [bsConfig]="{
                      adaptivePosition: true,
                      isAnimated: true,
                      dateInputFormat: 'YYYY-MM-DD',
                      containerClass: 'theme-blue'
                    }"
                  />
                  <i class="fas fa-calendar-alt"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-6"> -->
          <div class="col-xs-6 col-6 col-sm-6 col-md-4 form-group">
            <div class="form-group mb-0">
              <div class="mx-datepicker">
                <div class="mx-input-wrapper">
                  <input
                    formControlName="to_date"
                    bsDatepicker
                    name="date"
                    type="text"
                    autocomplete="off"
                    placeholder="Select Date"
                    class="mx-input"
                    class="form-control"
                    [bsConfig]="{
                      adaptivePosition: true,
                      isAnimated: true,
                      dateInputFormat: 'YYYY-MM-DD',
                      containerClass: 'theme-blue'
                    }"
                  />
                  <i class="fas fa-calendar-alt"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row5 mt-2">
          <div class="col-12">
            <button class="btn btn-primary btn-block btn-sm">Submit</button>
          </div>
        </div>
        <div class="row row5 mt-2">
          <div class="col-12">
            <div class="table-responsive">
              <table
                role="table"
                aria-busy="false"
                aria-colcount="8"
                class="table b-table table-pad table-bordered"
                id=""
              >
                <!-- <thead role="rowgroup" class="">
                  <tr role="row" class="">
                    <th
                      role="columnheader"
                      scope="col"
                      aria-colindex="1"
                      class="text-center"
                    >
                      Event Name
                    </th>
                    <th
                      role="columnheader"
                      scope="col"
                      aria-colindex="2"
                      class="text-center"
                    >
                      Nation
                    </th>
                    <th
                      role="columnheader"
                      scope="col"
                      aria-colindex="3"
                      class="text-center"
                    >
                      Bet Type
                    </th>
                    <th
                      role="columnheader"
                      scope="col"
                      aria-colindex="4"
                      class="text-center"
                    >
                      User Rate
                    </th>
                    <th
                      role="columnheader"
                      scope="col"
                      aria-colindex="5"
                      class="text-right"
                    >
                      Amount
                    </th>
                    <th
                      role="columnheader"
                      scope="col"
                      aria-colindex="6"
                      class="text-right"
                    >
                      Profit/Loss
                    </th>
                    <th
                      role="columnheader"
                      scope="col"
                      aria-colindex="7"
                      class="text-center"
                    >
                      Place Date
                    </th>
                    <th
                      role="columnheader"
                      scope="col"
                      aria-colindex="8"
                      class="text-center"
                    >
                      Match Date
                    </th>
                  </tr>
                </thead> -->
                <tbody>
                  <ng-container
                    *ngIf="betlist != null && betlist.length != 0; else NoData"
                  >
                    <ng-container
                      *ngFor="
                        let bet of betlist | paginate: config;
                        trackBy: trackByFn;
                        let i = index
                      "
                    >
                      <tr class="odd" [ngClass]="{
                        'lay':bet.is_back == '0',
                        'back':bet.is_back == '1'}" >
                        <td>
                          <div>
                            <p class="text-matchName">{{ bet?.match_name }}</p>
                            <p><b>Nation:</b> {{ bet?.selection_name }}</p>
                            <p><b>Placed Date:</b> {{ bet?.placed }}</p>
                            <p>
                              <b>Matched Date:</b> {{ bet?.bet_matched_at }}
                            </p>
                          </div>
                          
                          </td>
                         
                        <td> <b> User Rate</b> <br />{{ bet?.odds }}</td>
                        <td> <b>Amount</b> <br />{{ bet?.stack }}</td>
                        <td> <b>P/L</b> <br />{{ bet?.profit_loss }}</td>
                         
                      </tr>
                    </ng-container>
                  </ng-container>
                  <ng-template #NoData>
                    <tr>
                      <td valign="top" colspan="10" class="dataTables_empty">
                        No data available in table
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
                <!---->
              </table>
              <div class="d-flex justify-content-center">
                <ng-container *ngIf="totalrecored">
                  <div class="col-sm-12">
                    <pagination-controls
                      (pageChange)="pageChange($event)"
                      class="my-pagination"
                    >
                    </pagination-controls>
                  </div>
                </ng-container>

                <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> -->
              </div>
            </div>
          </div>
        </div>
        <!---->
      </form>
    </div>
  </div>
</div>
