<div class="col-md-12 main-container">
    <div class="listing-grid">
      <div class="detail-row">
        <h2>Affiliated History</h2>
     
      </div>
      <div class="table-responsive data-table" id="tbldata">
        <div id="example_wrapper" class="dataTables_wrapper no-footer">
    
         
          <table id="example" class="table table-striped table-bordered datatable dataTable no-footer" style="width:100%"
            role="grid" aria-describedby="example_info">
            <thead>
              <tr role="row">
               
                <th width="10%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Credit"
                  style="width: 173px;">User Id</th>
                  <th width="10%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Credit"
                  style="width: 173px;">Deposit Amount</th>
                
                  <th width="10%" class="sorting_asc" rowspan="1" colspan="1" aria-label="Date" style="width: 173px;">Date
                </th>
             
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="bounsStatementList.length != 0">
        
                <ng-container *ngFor="let report of bounsStatementList;let i = index">
                  <tr role="row" class="odd">
                    <td class="sorting_1"> {{report?.user_id}}</td>
                    <td class="sorting_1"> {{report?.deposit_amount}}</td>
                 
                    <td class="sorting_1"> {{report?.created_at  | formatDate: 'MMMM Do YYYY, h:mm a'}}</td>
  
                  </tr>
                </ng-container>
              </ng-container>
              <ng-container  *ngIf="bounsStatementList.length === 0">
                <tr>
                  <td colspan="6" style="text-align: center;">No Record Found !</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
 
          </div>
      </div>
    </div>
  </div>
  