.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
  font-size: medium;
}

@-webkit-keyframes winnerbox {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(29, 127, 30, .6)
  }

  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(29, 127, 30, 0)
  }

  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(29, 127, 30, 0)
  }
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.text-left {
  text-align: left!important;
}



.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto !important;
}


.result-image img, .player-type img, .sixplayer-image img, .andar-bahar-image {
  width: 50px;
}



.modal-dialog {
  margin: 1% auto;
}


.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-lg {
  max-width: 800px;
}

.modal-header {
  padding: 10px;
  background: #0088cc;
  color: #fff;
  border-radius: 0;
  border: 0;
}

// .DT-One-Day tr.matchbaklay_tr.FullMarketDiv td table td {  border-top: 0; }

.winner-icon {
  position: absolute;
  right: 0;
  bottom: 15%;
}

.winner-icon i {
  font-size: 26px;
  box-shadow: 0 0 0 var(--secondary-bg);
  -webkit-animation: winnerbox 2s infinite;
  animation: winnerbox 1.5s infinite;
  border-radius: 50%;
  color: #169733;
}


